[submodule ".site-lisp/rinari"]
	path = .site-lisp/rinari
	url = git://github.com/eschulte/rinari.git
[submodule ".site-lisp/smex"]
	path = .site-lisp/smex
	url = git://github.com/nonsequitur/smex.git
