[submodule ".site-lisp/rinari"]
	path = .site-lisp/rinari
	url = git://github.com/eschulte/rinari.git
[submodule ".site-lisp/smex"]
	path = .site-lisp/smex
	url = git://github.com/nonsequitur/smex.git
[submodule ".site-lisp/magit"]
	path = .site-lisp/magit
	url = git://github.com/jwiegley/magit.git
[submodule ".site-lisp/php-mode"]
	path = .site-lisp/php-mode
	url = git://github.com/ieure/php-mode-el.git
[submodule ".site-lisp/cucumber.el"]
	path = .site-lisp/cucumber.el
	url = http://github.com/michaelklishin/cucumber.el.git
[submodule ".site-lisp/rspec-mode"]
	path = .site-lisp/rspec-mode
	url = http://github.com/pezra/rspec-mode.git
[submodule ".site-lisp/rvm"]
	path = .site-lisp/rvm
	url = http://github.com/senny/rvm.el.git
[submodule ".site-lisp/coffee-mode"]
	path = .site-lisp/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule ".site-lisp/sass"]
	path = .site-lisp/sass
	url = http://github.com/nex3/sass-mode.git
[submodule ".site-lisp/haml"]
	path = .site-lisp/haml
	url = http://github.com/nex3/haml-mode.git
[submodule ".site-lisp/solarized"]
	path = .site-lisp/solarized
	url = https://github.com/purcell/color-theme-sanityinc-solarized.git
[submodule ".site-lisp/rainbow-delimiters"]
	path = .site-lisp/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
[submodule ".site-lisp/ruby-block"]
	path = .site-lisp/ruby-block
	url = https://github.com/adolfosousa/ruby-block.el.git
